<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.mapper.UserMapper">
	<select id="queryAllUser" resultType="user">
		select * from `t_user`
	</select>
	<insert id="addNewUser" parameterType="user">
		insert into `t_user`(id,username,password,register_time) values(#{id},#{username},#{password},#{register_time})
	</insert>
	<select id="userNameExist" parameterType="string" resultType="String">
		select `username` from `t_user` where `username` = #{username}
	</select>
</mapper>